*{
    margin: 0;
    padding: 0; 
    outline: none;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body{
    background-image: linear-gradient(135deg, rgba(19, 176, 223, 0.26) 0%, rgba(19, 176, 223, 0.26) 23%,rgba(16, 160, 197, 0.26) 23%, rgba(16, 160, 197, 0.26) 65%,rgba(13, 144, 172, 0.26) 65%, rgba(13, 144, 172, 0.26) 70%,rgba(9, 129, 146, 0.26) 70%, rgba(9, 129, 146, 0.26) 74%,rgba(6, 113, 121, 0.26) 74%, rgba(6, 113, 121, 0.26) 90%,rgba(3, 97, 95, 0.26) 90%, rgba(3, 97, 95, 0.26) 100%),linear-gradient(45deg, rgba(65, 234, 230, 0.26) 0%, rgba(65, 234, 230, 0.26) 28%,rgba(88, 192, 215, 0.26) 28%, rgba(88, 192, 215, 0.26) 55%,rgba(110, 150, 201, 0.26) 55%, rgba(110, 150, 201, 0.26) 66%,rgba(133, 107, 186, 0.26) 66%, rgba(133, 107, 186, 0.26) 80%,rgba(155, 65, 172, 0.26) 80%, rgba(155, 65, 172, 0.26) 85%,rgba(178, 23, 157, 0.26) 85%, rgba(178, 23, 157, 0.26) 100%),linear-gradient(90deg, rgb(27, 194, 246) 0%, rgb(27, 194, 246) 6%,rgb(39, 174, 237) 6%, rgb(39, 174, 237) 32%,rgb(50, 155, 229) 32%, rgb(50, 155, 229) 40%,rgb(62, 135, 220) 40%, rgb(62, 135, 220) 66%,rgb(74, 116, 211) 66%, rgb(74, 116, 211) 72%,rgb(86, 96, 202) 72%, rgb(86, 96, 202) 86%,rgb(97, 77, 194) 86%, rgb(97, 77, 194) 96%,rgb(109, 57, 185) 96%, rgb(109, 57, 185) 100%); 
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 450px;
    padding: 30px;
    background: rgb(255,255,255,75%);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container .form-box{
    height: auto;
    width: 100%;
    position: relative;
}

.form-title, .form-box{
    text-align: center;
    color: rgb(25, 110, 150); 
}

.form-title{
    text-transform: uppercase; 
    font-weight: 400;
    margin-bottom: 30px;
}

.container .form-box input{
    height: 100%;
    width: 100%;
    border: none;
    margin-bottom: 30px;
    background: none;
    border-bottom:2px solid silver;
    font-size: 17px;
}

.container .form-box input:focus ~ label, 
.container .form-box input:valid ~ label{
    font-size: 15px;
    text-align: justify;
    color: rgb(25, 110, 150);
    transform: translateY(-20px);
    padding-bottom: 23px;
    content: '';
    border-bottom:2px solid rgb(25, 110, 150);
    width: 100%;

}


.container .labels label{
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    color: grey;
    pointer-events: none;
}

.container .form-box input input:focus, 
.container .form-box input input:valid{
    border-bottom:2px solid greens;
}

.container .form-box .btn{
    text-decoration: none;
    color: white;
    padding: 8px 15px ;
    background-image: linear-gradient(rgb(25, 110, 150),rgb(109, 57, 185));
    border-radius: 30px;
    border: none;
    font-size: 12px;
}

.container .form-box .btn:hover{
    border: 1px solid rgba(0, 0, 0,0.2);
    cursor: pointer;
}